/* .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */
/* .App-content:after {
    content: "\00a0";
    display: block;
    margin-top: var(--space);
    height: 0;
    visibility: hidden;
} */
/* .Navbar {

} */
.App-footer {
    position: fixed;
    bottom: 10px;
    /* height: [footer-height]; */
}
