.header-row {
    justify-content: space-between;
}
.grid-row {
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.grid-btn-row {
    height: 5rem;
    width: 7rem;
    margin: auto;
}
