.cards {
    width: 23rem;
}
.card-row {
    align-items: center;
    justify-content: space-between;
}

.btn-row {
    align-items: center;
}

.card-img-div {
    height: 150px;
}
.card-img {
    display: block;
    margin: auto;
    max-height: 100%;
    width: auto;
}
